@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mouth Full</h1>
    <form>
        <input type="text">
    </form>

    <h1>API Response!</h1>


    <p>@ViewBag.response[0].title</p>

</div>
